body{
background-color:lightblue;
}

h2{
color:blue;
}
#para{
color:red;

}
span{
color:brown;
}


div p{
background-color:yellow;
}

.image1{
opacity:0.2;
width:200px;

}
.image2{
opacity:0.5;
width:200px;

}
.image3{
opacity:1.0;
width:200px;

}

a:hover{
background-color:yellow;
font-size:30px;
}
.image1:hover{
width:500px;
}
.image2:hover{
width:500px;
}
.image3:hover{
width:500px;
}